/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f3f1ff;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #ffffff;
    width: 870px;
    padding: 30px;
}
/* top player styles */
.section-title{
    font-size:30px;
    color:#562EFF;
    margin-top: 3px;
}
.top-players{
    margin-bottom: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-row-gap: 18px ;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
hr{
    border: 1px solid #D1D1D1;
}
/* top blogs styles */
.top-blog .blog{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 16px;
}
.blogs{
    display: flex;
}
.blogs img{
    width: 177px;
    height: 117px;
}
.blogs-title{
    font-size: 20px;
}
.blogs-info{
    margin-left: 5px;
}
.blogs-author{
    font-size: 16px;
    color: #9F9F9F;
    
}
.blogs-author a{
    color: #562EFF;
    text-decoration: none;
}

/* Latest blog styles */
.coureses{
   
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-column-gap: 24px;
}
.course-banner img{
    width: 224px;
    height: 104;
}
.course-details{
    line-height: 20px;
}
.course-title{
    font-size: 20px;
}
.course-author{
    font-size: 15px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    
}
.fa-star{
    font-size: 12px;
}
.filled{
    color:#FFC014;
}
.empty{
    color: #AEAEAE;
}
.duration{
    color: #FF4A60;
    background: #FFE4E8;
    border-radius: 14px;
}

/* -------
Media Query For mobie------- */
@media(max-width: 688px){
    .container{
        width: 100%;
    } 
    .players, .blog{
         grid-template-columns: repeat(1 , 1fr);
     }
     .player, blogs{
         flex-direction:column;  
     }
     .coureses{
         display: none
     }
};
    
